/* Estilo global */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

input[type="text"],
input[type="file"],
input[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    cursor: pointer;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.view-buttons {
    text-align: center;
    margin-top: 20px;
}

.view-buttons button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.view-buttons button:hover {
    background-color: #0056b3;
}

/* Estilo específico para a página itens.php */

.container-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.item-box:hover {
    transform: translateY(-5px);
}

.item-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

.item-details {
    margin-top: 10px;
    text-align: center;
}

.item-details p {
    margin: 5px 0;
}

.container-items h2 {
    text-align: center;
    margin-bottom: 20px;
}

.no-items {
    text-align: center;
    color: #000;
    font-size: 18px;
}
